*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #f7f7f7;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: #b9b9b9;
    box-shadow: rgba(0, 0, 0, 0.493) 0px 5px 15px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    z-index: 1;
}

nav > a:hover {
    transform: scale(115%);
    transition: transform 0.3s;
}

a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 6em 2em 0 2em;
    animation: fadeIn ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.name-container {
    display: flex;
    align-items: center;
}

.name-container > h1 {
    font-size: 7vw;
    max-width: 100px;
}

.personal-photo-container {
    text-align: center;
}

.personal-photo-container > img {
    width: 40vw;
    max-width: 480px;
}

.about {
    padding-top: 15em;
}

.about-container {
    width: 40%;
    margin: auto;
    padding: 2em;
    background-color: #b9b9b9d5;
    border-radius: 6px;
    box-shadow: -10px 10px 0px 0px rgba(33, 33, 33, 1),
            -20px 20px 0px 0px rgba(33, 33, 33, 0.7),
            -30px 30px 0px 0px rgba(33, 33, 33, 0.4),
            -40px 40px 0px 0px rgba(33, 33, 33, 0.1);        
}

.projects {
    padding: 15em 4em;
}

.projects > h2 {
    text-align: center;
    padding: 2em;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: auto;
    gap: 2em;
    justify-content: center;
}

.project {
    border: 2px solid black;
}

.project:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.project-thumbnail > a {
    display: flex;
    justify-content: center;
}

.project-thumbnail > a > img {
    height: 20vh;
    width: 100%;
    object-fit: fill;
}

#project-icon {
    height: 1.5em;
    width: 1.5em;
}

#project-icon:hover {
    transform: scale(120%);
    transition: transform 0.3s;
}

.project-info > div {
    text-align: end;
    padding: 0.5em 1em;
}

.project-info > p {
    margin: 0 1em 1em 1em;
    overflow: hidden;
    display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
}

.project-info > h4 {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1em 0;
}

.contact {
    width: 50%;
    margin: auto;
    padding: 4em 2em 2em 2em;
}

.contact-info-container {
    border: 1px solid black;
    padding: 1em;
    background-color: #b9b9b9;
}

.contact-info-container > h2 {
    text-align: center;
    padding: 1em 0;
}

.contact-icons {
    display: flex;
    justify-content: space-evenly;
}

#contact-icon {
    height: 4vw;
    width: 4vw;
}

#contact-icon:hover {
    transform: scale(120%);
    transition: transform 0.3s;
}

footer {
    width: 100%;
    font-size: 10px;
    background-color: #b9b9b9d5;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > a {
    padding: 0 5px;
    width: 1.6rem;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* for medium-sized screens */

@media screen and (max-width: 1130px) {
    .name {
        font-size: 100px;
    }

    #contact-icon {
        height: auto;
        width: 5vw;
    }

    .projects-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* for mobile screens */

@media screen and (max-width: 600px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name-container {
        padding: 3em;
    }

    .name-container > h1 {
        font-size: 3.4em;
        display: flex;
        justify-content: center;
    }

    .personal-photo-container>img {
        width: 100%;
    }

    .about-container {
        border: 1px solid black;
        width: 60vw;
    }

    .about-container > div {
        width: 40vw;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact {
        width: 250px;
    }

    #contact-icon {
        height: auto;
        width: 20px;
    }

}