*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #f7f7f7;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: #b9b9b9;
    box-shadow: rgba(0, 0, 0, 0.363) 0px 5px 15px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

nav > a:hover {
    transform: scale(110%);
    transition: transform 0.3s;
}

a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 6em 2em 6em 2em;
}

.name-container {
    display: flex;
    align-items: center;
}

.name-container > h1 {
    font-size: 7vw;
    max-width: 100px;
}

.personal-photo-container {
    text-align: center;
}

.personal-photo-container > img {
    width: 40vw;
    max-width: 480px;
}

.about {
    width: 40%;
    margin: auto;
    padding: 2em;
    background-color: #b9b9b9d5;
    border-radius: 6px;
    box-shadow: -10px 10px 0px 0px rgba(33, 33, 33, 1),
            -20px 20px 0px 0px rgba(33, 33, 33, 0.7),
            -30px 30px 0px 0px rgba(33, 33, 33, 0.4),
            -40px 40px 0px 0px rgba(33, 33, 33, 0.1);
}

.projects {
    padding: 2em;
}

.projects > h2 {
    text-align: center;
    padding: 2em;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2em;
}

.project {
    border: 2px solid black;
}

.project-thumbnail {
    display: flex;
    justify-content: center;
}

.project-thumbnail > img {
    height: 200px;
    width: 200px;
}

#project-icon {
    height: 1.5em;
    width: 1.5em;
}

#project-icon:hover {
    transform: scale(110%);
    transition: transform 0.3s;
}

.project-info > div {
    text-align: end;
    padding: 0.5em 1em;
}

.project-info > p {
    margin: 0 1em 1em 1em;
    overflow: hidden;
    display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
}

.project-info > h4 {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1em 0;
}

.contact {
    width: 50%;
    margin: auto;
    padding: 4em 2em 2em 2em;
}

.contact-info-container {
    border: 1px solid black;
    padding: 1em;
}

.contact-info-container > h2 {
    text-align: center;
    padding: 1em 0;
}

.contact-icons {
    display: flex;
    justify-content: space-evenly;
}

#contact-icon {
    height: 4vw;
    width: 4vw;
}

#contact-icon:hover {
    transform: scale(110%);
    transition: transform 0.3s;
}

@media screen and (min-width: 1080px) {
    .name {
        font-size: 100px;
    }

    #contact-icon {
        height: 50px;
        width: 50px;
    }
}